<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inspirational Quotes with API">
    <meta name="author" content="Joe Jean">
    <link rel="shortcut icon" href="/favicon.ico?v=2"/>
    {% block title %}
    <title>Pump Me Up! Get pumped up with the best inspirational quotes</title>
    {% endblock %}
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet">

    <!-- siimple style -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Pump Me UP!</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/top">Top 10 Quotes</a></li>
            <li><a href="/add">Add a Quote</a></li>
            <li><a href="/apidoc">API</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block mainContent %}

    {% endblock %}


    {% block footer %}
    <div id="footer">
      <div class="container">
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
            <p class="copyright">Copyright &copy; 2014 - Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="http://www.joejean.net">Joe Jean</a></p>
            </div>
          </div>
      </div>
    </div>
    <script src="/javascripts/jquery-1.11.0.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/script.js"></script>
    {% endblock %}

 </body>
</html>
