{% extends "base.html" %}
{% block mainContent %}

	<div id="main">
		<div class="container">
			<div class="row">
      <div class="col-md-2">
      </div>
				<div class="col-md-6">
					<h1>Welcome </h1>
					<h2 class="subtitle">We have all the right quotes to pump you up!</h2>
            {% if error %}
            <div class="col-md-12">
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong>Sorry!</strong>{{ error }}
              </div>
            </div>
          {% endif %}
					<form class="form-horizontal signup" id ="searchForm" role="form" method="POST" action="/">
            <div class="col-md-8">
					  <div class="form-group">
					    <input type="text" class="form-control  input-lg" name="searchQuery" placeholder="Pump me up with quotes about..">

            </div>

            </div>
            <button type="submit" class="btn btn-theme btn-lg">Get Pumped up</button>
					</form>
				</div>
        <div class="col-md-2">
      </div>
			</div>

      {% if quotes %}
        {% for quote in quotes%}
        <div class="row">

            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <div class="customjumbotron">
                <p>"{{quote.quote}}"~ <small>{{quote.author}}</small></p>
                <p><span class = "likeButton" id={{quote._id}}>
                    <button class="btn btn-theme" type="button">
                    Likes <span class="badge">{{quote.likes}}</span>
                    </button>
                    </span>
                 </p>
              </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        {% endfor %}

      {% endif %}



		</div>
	</div>
{% endblock %}
